@import "../../../style/variables.css";

:root {
  --tab--font-family: var(--font-family-primary);
  --tab--type-text__bg: var(--white);
  --tab--type-text__primary-color: var(--blue);
  --tab--type-text__tertiary-color: var(--black);
}

.tabs-container {
  padding: var(--spacing-2) var(--spacing-6);
}
.tabs-container__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.tabs-container__list-element__button-wrapper button {
  min-width: 50px;
  height: 48px;
  margin: 0 24px 0 0;
  padding: 12px 0 0;
  font-family: var(--tab--font-family);
  font-size: 14px;
  font-weight: 600;
  border: none;
  background-color: var(--white);
  border-bottom: 2px solid var(--white);
  transition: all ease-in-out 0.2s;
  color: var(--primary-a-main);
}
.tabs-container__list-element__button-wrapper button:active,
.tabs-container__list-element__button-wrapper button:focus-within,
:target {
  border-bottom: 4px solid black;
  color: black;
}

.tabs-container__list-element__button-wrapper button:focus-visible {
  outline: none;
}

.tabs-container__list-element__container {
  border-top: 1px solid rgba(44, 48, 50, 0.12);
  max-width: calc(100vw - 440px);
  margin-top: 1px;
  font-family: var(--font-family-secondary);
  font-size: 12px;
  max-height: calc(100vh - 340px);
  overflow-y: scroll;
}

@media (min-width: 320px) and (max-width: 1012px) {
  .tabs-container__list-element__container {
    max-width: inherit;
    max-height: inherit;
  }
  .tabs-container__list-element__container,
  .dashboard-container__main__map,
  .table-container {
    padding: 0px;
  }
  .tabs-container__list-element__container {
    max-height: inherit;
  }
}
