:root {
  /* 
    Spacing variables
    */
  --spacing-0: 0;
  --spacing-0-5: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-80: 80px;
  --spacing-88: 22rem;
  --spacing-96: 24rem;

  /* 
    font size variables
    */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;

  /* 
    Font weight variables
    */
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  /* 
    Color variables
    */
  --grey-50: #f8f9f9;
  --grey-100: #e1e3e4;
  --grey-200: #cbcdcf;
  --grey-300: #b4b8ba;
  --grey-400: #9da2a6;
  --grey-500: #868d91;
  --grey-600: #6f777c;
  --grey-700: #595f63;
  --grey-800: #43474a;
  --grey-900: #2c3032;
  --grey-a-100: #ddddde;
  --grey-a-200: #b9babb;
  --grey-a-400: #7c7e7f;
  --grey-a-700: #545759;


  --primary-a-main: #036fe2;
  --primary-c-light: #358be7;
  --primary-b-dark: #024d9e;
  --primary-d-background: rgba(3, 111, 226, 0.08);
  --secondary-a-main: #47db99;
  --secondary-c-light: #6be2ad;
  --secondary-b-dark: #31996b;
  --secondary-d-background: rgba(71, 219, 153, 0.08);

  --text-dark-b-secondary: rgba(44, 48, 50, 0.6);
  --text-dark-d-disabled: rgba(44, 48, 50, 0.25);
  --text-dark-c-hint: rgba(44, 48, 50, 0.4);
  --text-light-a-primary: #fff;
  --text-light-b-secondary: rgba(255, 255, 255, 0.6);
  --text-light-c-hint: rgba(255, 255, 255, 0.4);
  --text-light-d-disabled: rgba(255, 255, 255, 0.25);

  --common-white-5: rgba(255, 255, 255, 0.05);
  --feedback-error-a-main: #c1300b;
  --common-black-12: rgba(44, 48, 50, 0.12);
  --feedback-error-d-text: #4d1304;
  --elevation-0-dp-2: #fafafa;
  --common-black-5: rgba(44, 48, 50, 0.05);
  --action-focus-12: rgba(0, 0, 0, 0.12);
  --hover-8: rgba(0, 0, 0, 0.08);
  --misc-removable-icon: rgba(0, 0, 0, 0.7);
  --docs-darkgrey: #bdbdbd;
  --misc-full-opacity: #000;
  --action-hover-5: rgba(0, 0, 0, 0.05);
  --docs-grey: #e0e0e0;
  --common-white-12: rgba(255, 255, 255, 0.12);
  --feedback-success-b-dark: #435f11;
  --common-black-90: rgba(44, 48, 50, 0.9);
  --text-dark-a-primary: #2c3032;
  --text-dark-a-primary: #2c3032;

  
  --white: white;
  --blue: #036fe2;
  --purple-light: rgb(71, 60, 157);
  --purple: rgb(71, 60, 157);
  --purple-dark: #3c2e7f;
  --green: #48cb8a;
  --red: #f25c54;
  --yellow: #ffd53d;
  --tracking-tight: -0.025em;
  --tracking-tighter: -0.05em;

  /* 
    Line height variables
    */
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;
  --body-padding: var(--spacing-12);

  /* 
    Font family variables
    */
  --font-family-primary: "Montserrat", sans-serif;
  --font-family-secondary: "Open Sans", sans-serif;
  --font-family-tertiary: "Overpass Mono", monospace;


}
